<div class="login-container">
  <img class="film" src="assets/images/film.png" alt="Image" />
  <div class="logo">Rotten Potatoes</div>
  <div class="desc">
    Potato fruits are a succulent but inedible spherical, yellow-green berry, up
    to 4cm across. Underground, the edible root forms a tuber that can be a
    range of colours, sizes and shapes, depending on the cultivated variety
    (cultivar).
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname"> Username </label>
      <input
        type="text"
        name="uname"
        class="form-control"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-group">
      <label for="pword"> Password </label>
      <input
        type="password"
        name="pword"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
        <div class="error"> {{errorMsg}} </div>
        <button class="btn btn-dark" (click)="login()"> Login </button>
    </div>
  </div>
</div>
